@media screen and (min-width: 1px) and (max-width: 320px) {
    #content {
        justify-content: center;
        width: 300px;
        height: auto;
    }

    #add-message-module {
        width: 250px;
        text-align: center;
        border-radius: 2.5%;
        justify-content: center;
        font-family: 'Darker Grotesque', sans-serif;
        color: #ffffff;
        margin-right: 10%;
    }

    #add-message-module form {
        position: relative;
        padding: 3% 3% 3% 3%;
        width: 250px;
        border: 5px solid #C22A18;
        display: block;
        text-align: center;
        margin: 0 auto;
        border-radius: 2.5%;
    }


    #add-message-module form input {
        width: 100%;
    }

    .user-input {
        width: 50vw;
        height: 4vh;
        font-size: 1.5rem;
    }

    .message-input {
        width: 50vw;
        height: 2.5vh;
        font-size: 1.5rem;
    }

    #modalImage {
        width: 70%;
    }

    .modal-content {
        width: 100%;
        height: 100%;
    }

    #site-wrapper {
        margin: 0 auto;
        width: 100%;
        min-width: 400px;
        height: auto;
    }

    body {
        padding-top: 30%;
        /*left: 50%;*/
        /*top: 50%;*/
        /*transform: translate(-50%, -50%);*/
        margin: 0 auto;
        justify-content: center;
        position: relative;
    }

}

/* 100% Image Width on Smaller Screens MOST MOBILE PHONE DEVICES*/
@media screen and (min-width: 321px) and (max-width: 500px) {
    #content {
        justify-content: center;
        width: 400px;
        height: auto;
    }

    #add-message-module {
        width: 300px;
        text-align: center;
        border-radius: 2.5%;
        justify-content: center;
        font-family: 'Darker Grotesque', sans-serif;
        color: #ffffff;
        margin-right: 10%;
    }

    #add-message-module form {
        position: relative;
        padding: 3% 3% 3% 3%;
        width: 300px;
        border: 5px solid #C22A18;
        display: block;
        text-align: center;
        margin: 0 auto;
        border-radius: 2.5%;
    }


    #add-message-module form input {
        width: 100%;
    }

    .user-input {
        width: 50vw;
        height: 5vh;
        font-size: 1.5rem;
    }

    .message-input {
        width: 50vw;
        height: 1.5vh;
        font-size: 1.5rem;
    }

    #modalImage {
        width: 60%;
    }

    .modal-content {
        width: 100%;
        height: 100%;
    }

    #site-wrapper {
        margin: 0 auto;
        width: 100%;
        min-width: 400px;
        height: auto;
    }

    body {
        padding-top: 30%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin: 0 auto;
        justify-content: center;
        position: relative;
    }
}

/* fix padding under menu after resize */
@media screen and (min-width: 501px) and (max-width: 767px) {
    body {
        padding-top: 25%;
    }

    #modalImage {
        width: 70%;
    }

    .modal-content {
        width: 100%;
        height: 100%;
    }

    #add-message-module {
        width: 450px;
        text-align: center;
        border-radius: 2.5%;
        justify-content: center;
        font-family: 'Darker Grotesque', sans-serif;
        color: #ffffff;
        margin-right: 10%;
    }

    #add-message-module form {
        position: relative;
        padding: 3% 3% 3% 3%;
        width: 400px;
        border: 5px solid #C22A18;
        display: block;
        text-align: center;
        margin: 0 auto;
        border-radius: 2.5%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    body {
        padding-top: 20%;
    }

    #modalImage {
        width: 70%;
    }

    .modal-content {
        width: 100%;
        height: 100%;
    }

    #add-message-module {
        width: 450px;
        text-align: center;
        border-radius: 2.5%;
        justify-content: center;
        font-family: 'Darker Grotesque', sans-serif;
        color: #ffffff;
        margin-right: 10%;
    }

    #add-message-module form {
        position: relative;
        padding: 3% 3% 3% 3%;
        width: 400px;
        border: 5px solid #C22A18;
        display: block;
        text-align: center;
        margin: 0 auto;
        border-radius: 2.5%;
    }

}

@media screen and (min-width: 992px) {
    body {
        padding-top: 7%;
    }

    #add-message-module {
        width: 500px;
        text-align: center;
        border-radius: 2.5%;
        justify-content: center;
        font-family: 'Darker Grotesque', sans-serif;
        color: #ffffff;
        margin-right: 10%;
    }

    #add-message-module form {
        position: relative;
        padding: 3% 3% 3% 3%;
        width: 500px;
        border: 5px solid #C22A18;
        display: block;
        text-align: center;
        margin: 0 auto;
        border-radius: 2.5%;
    }
}

#add-message-module {
    padding-top: 10%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    font-family: 'Darker Grotesque', sans-serif;
    color: #ffffff;
    border-radius: 2.5%;
}

#add-message-module form {
    position: relative;
    padding: 3% 3% 3% 3%;
    background-color: #C22A18;
    border: 5px solid #C22A18;
    display: block;
    text-align: center;
    margin: 0 auto;
    border-radius: 2.5%;
}

#add-message-module form input {
    width: 97%;
}

#add-message-module:hover form {
    display: block;
}

.message-input {
    height: 10%;
}

form {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

#form-title {
    font-size: 1.75rem;
    margin-bottom: 5%;
}

.user-input {
    font-size: 1.5rem;
}

.message-input {
    font-size: 1.5rem;
}

#content {
    justify-content: center;
    margin: 0 auto;
    width: 90vw;
    height: 80vh;
    padding: 0 auto;
}

#add-message-btn {
    display: inline-block;
    border-radius: 4px;
    background-color: #C22A18;
    border: none;
    color: white;
    text-align: center;
    font-size: 25%;
    padding: 0;
    width: 50%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1%;
}

#add-message-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#add-message-btn span:after {
    content: "";
    position: absolute;
    opacity: 0;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 20%;
    transition: 0.7s;
}

#add-message-btn:hover span {
    padding-right: 25%;
    padding-left: 25%;
}

#add-message-btn:hover span:after {
    opacity: 1;
    right: 0;
}

#message-sent {
    visibility: hidden;
}

/*The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    z-index: 1; /* Sit on top */
    text-align: center;
    justify-content: center;
    width: 700px; /* Full width */
    height: auto; /* Full height */
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(255, 255, 255); /* White w/ opacity */
}

.modal-content {
    text-align: center;
    justify-content: center;
    margin: 0 auto;;
    display: block;
    width: 100%;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}

#lovedropBtn {
    width: 50%;
    height: 50%;
}

/*
 * Base structure
 */
html,
body {
    height: 100%;
    width: 100%;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    color: white;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
    font-family: 'Darker Grotesque', sans-serif;
    position: relative;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    background-color: #ffffff;
    height: 95%;
    min-height: 50%;
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

/* Padding for spacing */
.inner {
    padding: 0 auto;
}

/*
 * Header
 */
.navbar-brand {
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: 'Bungee Shade', cursive;
    font-size: 6vw;
    margin-left: 5%;
    color: #ffffff;
}

/*
 * Cover
 */
.cover {
    padding: 0 5%;
}

.cover .btn-lg {
    padding: 5% 5%;
    font-weight: bold;
}

#octocat {
    width: 10%;
    height: 10%;
}

.navbar-nav {
    flex-direction: row;
    color: #C22A18;
}

.nav-link {
    padding-right: .25vw !important;
    padding-left: 3vw !important;
    font-size: 3vw;
}

/* change the background color */
.navbar-custom {
    background-color: #C22A18;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: black;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

footer {
    color: black;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0;
    width: 20%;
    height: 20%;
    background: url(https://i.ibb.co/jr5MtTy/robot.png) no-repeat bottom right;
    background-size: 100%;
}

#header-about, #header-contact, #version {
    color: black;
}

.inner-contact {
    color: black;
    padding-top: 10%;
}
